<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=product.name %></title>
	</head>
	<body>
		<nav>
			<a href="/store">Home</a>
		</nav>
		<h1><%=product.name %></h1>
		<img src="<%= product.img %>" title="<%= product.name %>">
		<br />
		<%= product.description %>
        <br />
        <p>$<%= product.price %></p>

        <% if (product.qty <= 0) { %>
            <p>OUT OF STOCK!</p>
        <% }else if (product.qty > 0) { %>
            <p><%= product.qty %> left!</p>
            <form action="/store/<%= index %>?_method=PUT" method="POST">
                <input type="button" value="BUY" />
              </form>
        <% } %>


        <a href="/store/<%= index %>/edit">Edit This Product</a>
        <form action="/store/<%= index %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
          </form>
	</body>
</html>